<!DOCTYPE html>
<html>
<head>
  <title>PHONOGRAPH</title>
  <link rel="stylesheet" href="../static/styleLogIn.css">
</head>
<body>
  <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
    <div>Phono<span>graph</span></div>
  </div>
  <br>
    <form class="login" action="../../php/LogIn.php" method="post">
      <input type="text" placeholder="Email" name="email"><br>
      <input type="password" placeholder="Password" name="password"><br><br>
      <input type="text" placeholder="Restaurant ID" name="resID"><br>
      <input type="submit" value="Login">
    </form>
</body>
</html>


